<%- include("./partials/header") %>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="#">Todo APP</a>
        </div>
    </nav>


    <div class="container mt-5">
        <form action="/api/todo/add" method="POST" class="d-flex">
            <input type="text" name="todo" class="form-control" placeholder=" Enter Todo">
            <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
        </form>

        <ul class="list-group my-5">
            <% todo.forEach(todos=> { %>
                <li class="list-group-item">
                    <%= todos.todo %>
                        <a href="/api/todo/delete/<%= todos._id %>" class="btn btn-danger btn-sm">Delete</a>
                </li>


                <%}) %>

        </ul>
    </div>

    <%- include("./partials/footer") %>